<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>

    <%- include('partials/header') %>

    <main>
        <%- body %>
    </main>

    <%- include('partials/footer') %>

</body>
</html>
